* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Zen Dots";
}

/* Mise en forme de la page entière via display grid */
body {
  height: 500vh;
  display: grid;
  grid-template-rows: 5vh 100vh 65vh 65vh;
}

/* Mise en forme de la barre de navigation */
nav {
  display: flex;
  height: 5vh;
  background-color: cornflowerblue;
  position: fixed;
  width: 100%;
  align-items: center;
  padding-left: 10px;
  font-size: medium;
}

/* Uniquement pour média quéry */
nav > .fa-bars {
  display: none;
}

/* Mise en forme éléments de la barre de navigation */
nav > .liste_navbar {
  display: flex;
  list-style: none;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  padding-inline-start: 40vh;
}

/* Changement couleur nav éléments on hover */
.nav_links:hover {
  color: cornflowerblue;
  background-color: black;
}

/* Pas de design sur la liste <li> */
.nav_links {
  color: black;
  text-decoration: none;
}

/* Mise en forme de la page d'introduction */
#intro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/images/35015620.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Texte centré */
#intro > #texte_centre {
  font-size: 55px;
  width: 50%;
  color: salmon;
}

/* Police de la section Profil/Git */
#git {
  font-size: small;
  background-color: skyblue;
}

/* Mise en forme texte section Profil/Git */
#git > p {
  padding-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mise en forme des "disquettes" sur la section Profil/Git */
#projets_git {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  justify-items: center;
  padding-top: 5vh;
}

/* Bordure projets git */
.preview_projects {
  border: 5px solid slategrey;
  border-radius: 8%;
}

.texte_img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Schématisation des languages maîtrisés */
#comp {
  border-top: 4px dotted;
  font-size: small;
  padding-top: 5vh;
  background-color: skyblue;
}

#language_skills {
  display: grid;
  grid-template-columns: 15vh 15vh 15vh;
  grid-template-rows: 15vh 15vh 15vh;
  justify-items: center;
  align-items: center;
  justify-content: center;
  padding-top: 4vh;
}

.language_icons {
  border: 2px solid red;
  border-radius: 5%;
  height: 100%;
  width: 100%;
}

/* Version mobile */
@media screen and (max-width: 768px) {
  header > nav > .liste_navbar {
    position: fixed;
    background-color: cornflowerblue;
    height: 100%;
    width: 100%;
    top: 5vh;
    left: -150vh;
    justify-content: space-around;
    flex-direction: column;
    padding-inline-start: 0;
  }
  header > nav > .fa-bars {
    display: block;
    position: fixed;
    left: 95%;
  }
}

/* Animation pour la barre de navigation */
@keyframes slide {
  0% {
    transform: translateX(-150vh);
  }
  100% {
    transform: translateX(150vh);
  }
}

/* Classe pour faire apparaitre la barre de navigation */
.appear {
  animation: slide 1.5s ease-in-out;
  animation-fill-mode: forwards;
}
